<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvis.exam.repository.StudyStageMapper">
    <resultMap id="BaseResultMap" type="com.alvis.exam.domain.StudyStage">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="study_stage_id" jdbcType="VARCHAR" property="studyStageId"/>
        <result column="study_stage_name" jdbcType="VARCHAR" property="studyStageName"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, study_stage_id,study_stage_name,deleted
    </sql>

    <!--根据id查询学段-->
    <select id="selectByPrimaryKey" parameterType="com.alvis.exam.domain.StudyStage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_study_stage
        where study_stage_id = #{studyStageId,jdbcType=VARCHAR}
    </select>

    <!--查询所有学段-->
    <select id="selectAllStudyStage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_study_stage
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_study_stage
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <!--添加学段-->
    <insert id="insert" parameterType="com.alvis.exam.domain.StudyStage">
        insert into t_study_stage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="studyStageId != null">
                study_stage_id,
            </if>
            <if test="studyStageName != null">
                study_stage_name,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="studyStageId != null">
                #{studyStageId,jdbcType=VARCHAR},
            </if>
            <if test="studyStageName != null">
                #{studyStageName,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <insert id="insertSelective" parameterType="com.alvis.exam.domain.StudyStage">
        insert into t_study_stage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="studyStageName != null">
                study_stage_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="studyStageName != null">
                #{studyStageName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.alvis.exam.domain.StudyStage">
        update t_study_stage
        <set>
            <if test="studyStageName != null">
                study_stage_name = #{studyStageName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--修改它的状态,删除-->
    <update id="updateByPrimaryKey" parameterType="com.alvis.exam.domain.StudyStage">
        update t_study_stage
        <set>
            <if test="studyStageName != null">
                study_stage_name = #{studyStageName,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT}
            </if>
        </set>
        where study_stage_id = #{studyStageId,jdbcType=VARCHAR}
    </update>

    <!--修改学段-->
    <update id="updateStudyStage" parameterType="com.alvis.exam.domain.StudyStage">
        update t_study_stage
        set study_stage_name = #{studyStageName,jdbcType=VARCHAR}
        where study_stage_id = #{studyStageId,jdbcType=VARCHAR}
    </update>
</mapper>